body, html {
    height:auto;
    width:100%;
}
body{
    direction:1tr
}
.sizenb{
    font-size: 10px !important;
   display: flex !important;
}
.logosize a{
    width: 2px!important;
    height: 2px !important;
}
.dropdown-menu{
    font-size: 10px !important;
}

}
.navbar navbar-expand-lg {
    background-color: black !important;
}

#0ne{
    color: purple;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
/* footer custom CSS */

p{
    color: #999;
    line-height: 20px;
   
}
h3{
    color:#fff;
    font-size:18px;
    }
    .footer-top{
        background: #111;
        padding: 90px 0;
    }

.segment-one h3{
    font-family:'Courier New', Courier, monospace;
    color:#fff;
    letter-spacing: 1px;
    margin:5px 0;
}
.segment-two h3{
    font-family:'Courier New', Courier, monospace;
    color:#fff;
    text-transform:capitalize;
}
.segment-two h3:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin:0;
    padding:0;
    list-style:none;
}
.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height:40px;
}
.segment-two ul li a{
    color:#999;
    text-decoration: none;
}
.segment-three h3{
color:#fff;
font-family: 'Courier New', Courier, monospace;
text-transform: capitalize;
}
.segment-three h3:before{
    content: '|';
    color:#c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 20px;
    color:#fff;
    padding: 10px 12px;
}
.footer-bottom-text{
    text-align: center;
    background:#000;
    line-height: 40px;
}
.just_size li a{
    font-size: 15px !important;
}
/* courosel custom css */
.carousel-item active{
width:100% !important;
height:50%!important;

}
/* logo & intro */
#intro{
    margin: 0;
    padding: 0;
    margin-top: 0;
    
}
.int img{
   width:250px;
   height:200px;
   background-color: pink;

}
.mov-text{
    background-color: silver;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: large;
}